/* Set grid for image gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

/* Set item properties */
.item {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}

/* Set image properties */

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Set DOM overlay properties */

.item-overlay {
  background: rgba(10, 250, 25, 0.3);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.2s;
}

.item:hover .item-overlay {
  transform: translateY(0);
}

/* Style button */

.item-overlay button {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
}

/* Set default overlay properties */

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}

/* Set overlay properties for when an item is clicked */

.overlay.open {
  display: grid;
  justify-content: center;
  align-content: center;
  object-fit: contain;
}

/* Set inner overlay properties when item is clicked */

.inner-overlay {
  width: 800px;
  height: 800px;
  background: white;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Set span values for horizontal and vertical */

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}

.open-img {
  width: 700px;
  height: 700px;
  object-fit: contain;
}
